@model  List<List<HistoricTour.Models.hotelClass>>

<!DOCTYPE html>
<html>
<head>
    <title>Historical Tour</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/Content/Hotels-style.css" />
</head>
<body>


    <!--Start Section Filter-->

    <section class="filter-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                    <div class="dropdown show ">
                        <a class="dropdown-toggle btn"  href="#" role="button" id="dropdownMenuLink" style="border: 2px solid #007bff; width: 100%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort Rate
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; margin:auto; text-align:center;">
                            <a class="dropdown-item" href="~/Hotel/Sorting/3">From Down To Up</a>
                            <a class="dropdown-item" href="~/Hotel/Sorting/4">From Up To Down</a>
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                    <div class="dropdown show">
                        <a class="dropdown-toggle btn" href="#" role="button" id="dropdownMenuLink" style="border: 2px solid #007bff; width: 100%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Experience
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:100%; margin:auto; text-align:center;">
                            <a class="dropdown-item" href="~/Hotel/Sorting/1">From Down To Up</a>
                            <a class="dropdown-item" href="~/Hotel/Sorting/2">From Up To Down</a>
                        </div>
                    </div>
                </div>



                <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                    <div class="dropdown show">
                        <a class="dropdown-toggle btn" href="#" role="button" id="dropdownMenuLink" style="border: 2px solid #007bff; width: 100%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Type
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:100%; margin:auto; text-align:center;">
                            <a class="dropdown-item" href="#">Single</a>
                            <a class="dropdown-item" href="#">Family</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                    <div class="dropdown show ">
                        <a class="dropdown-toggle btn" href="#" role="button" id="dropdownMenuLink" style="border: 2px solid #007bff; width: 100%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Weather
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:100%; margin:auto; text-align:center;">
                            <a class="dropdown-item" href="#">COLD</a>
                            <a class="dropdown-item" href="#">HOT</a>
                            <a class="dropdown-item" href="#">NORMAL</a>

                        </div>
                    </div>
                </div>



            </div>
          
        </div>
    </section>

    <!--End Section Filter-->

    <!--Start Section Hotels-->

    <div id="contain" class="content" style="max-width:100%">
        <section class="hotels">
            <div class="container">
           

                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="row text-center">

                        @for (int j = 0; j < Model.ElementAt(i).Count; j++)
                        {

                            if (Model.ElementAt(i).Count == 4)
                            {
                                try
                                {

                                    <div class="col-lg col-md-5 col-sm-5 mr-3 mb-3 hotel1" style="background-image: url(@(Model.ElementAt(i).ElementAt(j).Images[0].Image))">
                                        <div class="container_hotels">
                                            <div>
                                                <img src="@Model.ElementAt(i).ElementAt(j).Images[0].Image" />
                                            </div>
                                            <div>
                                                <p>

                                                    @Model.ElementAt(i).ElementAt(j).Name <br />
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    Location: @Model.ElementAt(i).ElementAt(j).Location<br />
                                                    Rate&ensp;&ensp;: @Model.ElementAt(i).ElementAt(j).Rate
                                                </p>
                                                <p>

                                                    Exeprience&ensp;&ensp;@Model.ElementAt(i).ElementAt(j).Exeprience <br />
                                                </p>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary "><a href="/Hotel/Gethotel/@Model.ElementAt(i).ElementAt(j).Id">See More</a></button>
                                                <button class="btn btn-primary "><a href="/Hotel/booking/@Model.ElementAt(i).ElementAt(j).Id">Booking</a></button>
                                            </div>        
                                        </div>
                                    </div>
                                }
                                catch
                                {
                                    <div class="col-lg col-md-5 col-sm-5 mr-3 mb-3 hotel1">
                                        <div class="container_hotels">
                                            <img src="~/image/hotel/Sol-Y-Mar.png" />
                                            <p>

                                                @Model.ElementAt(i).ElementAt(j).Name <br />
                                            </p>

                                            <p>
                                                Location: @Model.ElementAt(i).ElementAt(j).Location<br />
                                                Rate&ensp;&ensp;: @Model.ElementAt(i).ElementAt(j).Rate
                                            </p>
                                            <p>

                                                Exeprience&ensp;&ensp;@Model.ElementAt(i).ElementAt(j).Exeprience <br />
                                            </p>

                                            <button class="btn btn-primary "><a href="/Hotel/Gethotel/@Model.ElementAt(i).ElementAt(j).Id">See More</a></button>
                                            <button class="btn btn-primary "><a href="/Hotel/booking/@Model.ElementAt(i).ElementAt(j).Id">Booking</a></button>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                try
                                {

                                    <div class="col-lg col-md-5 col-sm-5 mr-3 mb-3 hotel1" style="background-image: url(@(Model.ElementAt(i).ElementAt(j).Images[0].Image))">
                                        <div class="container_hotels">
                                            <div>
                                                <img src="@Model.ElementAt(i).ElementAt(j).Images[0].Image" />
                                            </div>
                                            <div>
                                                <p>

                                                    @Model.ElementAt(i).ElementAt(j).Name <br />
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    Location: @Model.ElementAt(i).ElementAt(j).Location<br />
                                                    Rate&ensp;&ensp;: @Model.ElementAt(i).ElementAt(j).Rate
                                                </p>
                                                <p>

                                                    Exeprience&ensp;&ensp;@Model.ElementAt(i).ElementAt(j).Exeprience <br />
                                                </p>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary "><a href="/Hotel/Gethotel/@Model.ElementAt(i).ElementAt(j).Id">See More</a></button>
                                                <button class="btn btn-primary "><a href="/Hotel/booking/@Model.ElementAt(i).ElementAt(j).Id">Booking</a></button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                catch
                                {
                                    <div class="col-lg col-md-5 col-sm-5 mr-3 mb-3 hotel1">
                                        <div class="container_hotels">
                                            <img src="~/image/hotel/Sol-Y-Mar.png" />
                                            <p>

                                                @Model.ElementAt(i).ElementAt(j).Name <br />
                                            </p>

                                            <p>
                                                Location: @Model.ElementAt(i).ElementAt(j).Location<br />
                                                Rate&ensp;&ensp;: @Model.ElementAt(i).ElementAt(j).Rate
                                            </p>
                                            <p>

                                                Exeprience&ensp;&ensp;@Model.ElementAt(i).ElementAt(j).Exeprience <br />
                                            </p>

                                            <button class="btn btn-primary "><a href="/Hotel/Gethotel/@Model.ElementAt(i).ElementAt(j).Id">See More</a></button>
                                            <button class="btn btn-primary "><a href="/Hotel/booking/@Model.ElementAt(i).ElementAt(j).Id">Booking</a></button>
                                        </div>
                                    </div>
                                }

                            }

                        }

                    </div>
                }

            </div>
        </section>

    </div>

    @*<div class="control">
        <div class="container text-center">
            <div class="arrow-section mb-3">
                <button class="btn btn-primary arrow-control mr-3" onclick="plusDivs(-1)">❮ Prev</button>
                <button class="btn btn-primary arrow-control" onclick="hide">Next ❯</button>
            </div>
            <button id="first" class="btn btn-dark number-control mr-2" onclick="currentDiv(1);">1</button>
            <button id="second" class="btn btn-dark number-control mr-2" onclick="currentDiv(2);">2</button>
            <button id="third" class="btn btn-dark number-control" onclick="currentDiv(3);">3</button>
        </div>
    </div>*@
    
    <!--End Section Hotels-->
    <script>

        function hide() {
            var x = document.getElementById("contain");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>
    <script src="~/Scripts/hotels-item-js.js"></script>
   

</body>
</html>
